/* -------  General Styles ------- */

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  main {
      background-color: black;
      color: white;
  }
  .intro {
      align-content: center;

  }
  
  header {
    background-color: lightblue;
  }
  
  .logo {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 72px;
    color:black;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
  }
  
  
  /* ---  Navigation --- */
  
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color:black;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  header nav ul li a:hover {
    color: red;
  }
  
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-evenly;
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }
  
  /* ---  Primary --- */
  
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 10px;
  }

  
  section.about-me {   
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px 0;
    color:white;
    display: flex;
    flex-direction: column;
  }
  
  
  footer {
    background-color: black;
    margin-top: 40px;
    margin-bottom: 0;
  }
  
  /* ---  fonts --- */
  
  h1 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color:white;
    text-align: center;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin: 0 10px;
    text-align: center;
    
  }
  
  h3 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
  }
  
  p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
   text-align: center;
  }
  
  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color: orange; }
  main  a:visited { color: orange; }
  main  a:hover { color: orange; }
  a:active { color: white; }
  
  
  a:hover {
      text-decoration: underline;	
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  
  main img {
    width: 70%;
    height: 70%;
    image-orientation: inherit;
  }
  
  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 1;
  }
  .about{
      align-content: center;
      text-align: center;
  }
  .port {
    display: flex;
    flex-direction: row;
 }
 .stack {
   display: flex;
   flex-direction:inherit;
   justify-content: center;
 }
 .portFont {
   display: flex;
   justify-content: flex-start;
 }
  
  
  
  /* ---  Desktop--- */
  
  @media all and (min-width: 800px) {
    section {
      padding: 20 10%;
    }
    .group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  }
  
  
  
  /* Contact Form */
  
  form {
    padding-right: 8px;
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 175px;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 150px;
    width: 200px;
  }

  
  
  
  
  
  
  
  
